{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create{% endblock title %}

{% block content %}
<form action="{% url 'destination-create' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col">
        {{form|crispy}}
        <input type="submit" class="btn btn-success mt-2" value="Create">
      </div>
    </div>
  </div>
</form>
{% endblock content %}
